<% if (theme.about_me){ %>
<div class="widget tag">
  <h3 class="title"><%= theme.about_me.title || __('about_me') %></h3>
  <ul class="entry about-me">
    <% if (false/*theme.about_me.gravatar*/){ %>
    <ul><img class="author" title="About me" src="<%- gravatar(theme.about_me.gravatar, 180) %>" /></ul>
    <% } else if(false){%>
    <li><img class="author" title="About me" src="<%= theme.about_me.avatar %>" /></li>
    <% } %>
    <% theme.about_me.texts.split('|').forEach(function(item){ %>
    <ul><%- item %></ul>
    <% }); %>
  </ul>
</div>
<% } %>